    <!-- FOOTER -->
    <footer class="footer">
        
        <!-- WEB NAME -->
        <h3 class="footer_webname">NuStar</h3>

        <!-- LIST TOPIC -->
        <ul class="footer_topic_container">
            <li class="footer_topic">Follow</li>
            <ul class="footer_sub_topic">
                <a href="https://web.facebook.com/chin.asuka.9">Facebook</a>
                <a href="https://www.instagram.com/nonnyyyyyyyyyy/">Instagram</a>
            </ul>
            <li class="footer_topic">Support</li>
            <ul class="footer_sub_topic">
                <a href="#">Contact Us</a>
                <a href="#">FAQ</a>
            </ul>
            <li class="footer_topic">About</li>
            <ul class="footer_sub_topic">
                <a href="#">What is NuStar?</a>
            </ul>
        </ul>
    </footer> 
</body>

</html>