:root {
    --bg-primary: #5A5A5A;
    --bg-accent: #252525;
    --hd-primary: #000000;
    --ft-primary: #727070;
    --clr-primary: #FFFFFF;
    font-size: 16px;
}

/*  =========
       BODY 
    ========= */
* {
    box-sizing: border-box;
    color: var(--clr-primary);
}

html {
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgba(90, 90, 90, 0.9), rgba(90, 90, 90, 0.9)), url(/IMG/main_background.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

/* CONTENT */

.artist_header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    justify-content: center;
}
.artist_wrapper {
    width: 25%;
    margin-left: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.artist_edit_icon_container {
    width: 7%;
    height: auto;
    margin: 5px 10px 0px 0px;
    float: right;
}

.artist_img_container {
    width: 10%;
    height: auto;
    margin-left: 7%;
}
.artist_img {
    width: 100%;
    height: auto;
}
.content_wrapper {
    padding: 0%;
    display: flex;
    justify-content: center;
}

.artist_player {
    display: flex;
}
.artist_icon_container {
    width: 8%;
    height: auto;
    margin: 5px;
}
.artist_icon {
    width: 100%;
    height: auto;
}

.artist_song_container {
    background-color: rgba(49, 45, 45, 0.9);
    width: 100%;
    margin: 0%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.artist_song {
    flex-basis: 20%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.artist_song_img {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.artist_song_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artist_song_name, .artist_song_artist {
    text-decoration: none;
}
.artist_song_name {
    font-size: 3vmin;
    color: var(--clr-primary);
}
.artist_song_name:hover {
    color: var(--bg-primary);
}
.artist_song_artist:hover {
    color: var(--bg-primary);
}
.artist_song_artist {
    color: var(--ft-primary);
    margin-left: 18px;
}
