/*  =========
    variables 
    ========= */

:root {
    --bg-primary: #5A5A5A;
    --bg-accent: #252525;
    --hd-primary: #000000;
    --ft-primary: #727070;
    --clr-primary: #FFFFFF;
    font-size: 16px;
}

/*  =========
       BODY 
    ========= */
* {
    box-sizing: border-box;
    color: var(--clr-primary);
}

body {
    background: linear-gradient(90deg, rgba(90, 90, 90, 0.9), rgba(90, 90, 90, 0.9)), url(IMG/main_background.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*  =========
      HEADER 
    ========= */

.header {
    background-color: var(--hd-primary);
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
    z-index: 2000;
} 

/* COMPONENT */

.logo_wrapper {
    width: 5%;
    height: 5%;
    min-width: 65px;
    min-height: 65px;
    display: flex;
}
.logo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo_name {
    font-size: 1.5rem;
    padding-top: 2rem;
}
.search_bar {
    background-color: var(--bg-primary);
    border-radius: 20px 0px 0px 20px;
    color: var(--clr-primary);
    margin-left: 20%;
    width: 45%;
}
.search_button {
    background-color: var(--bg-accent);
    border-radius: 0px 20px 20px 0px;
}
.search_bar, .search_button {
    border: none;
    padding: 5px 10px 5px 10px;

}
.sign_up, .sign_in {
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
    font-size: 1.25rem;
    width: 7%;
    height: 10%;
    margin-left: 5%;
    padding: 5px 10px 5px 10px;
    border:none;
    border-radius: 20px;
    min-width: 100px;
}

@media screen and (max-width: 660px){
    .search_bar {
        visibility: hidden;
    }
    .search_button {
        border-radius: 20px;
    }
}

/*  =========
     NAV BAR 
    ========= */

.nav_bar {
    height: 100%;
    width: 0px;
    position: fixed;
    padding-top: 125px;
    background-color: var(--hd-primary);
    z-index: 3000;
    overflow-x: hidden;
    transition: 0.3s;
}
.nav_link, .nav_opn_button, .nav_cls_button {
    text-decoration: none;
}

.nav_link {
    font-size: 20px;
    padding: 10px 20px;
    display: block;
}

.nav_link:hover, .nav_opn_button:hover, .nav_cls_button:hover {
    color: var(--ft-primary);
}

.nav_opn_button {
    font-size: 25px;
    margin: 0 1% 0 1%;
}

.nav_cls_button {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 200px;
}

/*  =================
      ITEM CONTAINER 
    ================= */

/* CAROUSEL */
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.carousel_track {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel_slide {
    width: 30%;
    height: auto;
}

.carousel_img, .carousel_button_img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.carousel_left_button, .carousel_right_button {
    background-color: transparent;
    border: none;
    width: 10%;
    height: auto;
    position: absolute;
    z-index: 1000;
}

.carousel_left_button {
    left: 20px;
}

.carousel_right_button {
    right: 20px;
}

/* TOP SONG */
.popular_song_header {
    width: fit-content;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.popular_song_header:hover .popular_song_text_decoration {
    width: 100%;
}
.popular_song_text {
    font-size: 4.5vmin;
}
.popular_song_text_decoration {
    width: 0%;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
    transition: 0.3s;
}
.popular_song_track_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow;
}
.popular_song_track {
    min-width: 250px;
    height: auto;
    display: flex;
    flex-basis: 25%;
    margin-top: 10px;
    background-color: yellowgreen;
}

@media screen and (max-width: 800px) {
    .popular_song_track {
        margin-left: 70px;
        margin-right: 70px;
    }
}

.popular_song_img_container {
    width: 40%;
}
.popular_song_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.popular_song_list {
    background-color: var(--ft-primary);
    width: 60%;
    margin: 0%;
    padding: 5px 10px 0px 5px;
    border-radius: 0px 10px 10px 0px;
    
}
.popular_song_list > * {
    list-style: none;
}
.popular_song_list_name {
    font-size: 20px;
}
.popular_song_list_name {
    background-color: blue;
}
.popular_song {
    background-color: brown;
}



/* ALBUM */
.album_header {
    width: fit-content;
    margin-top: 20px;
}

.album_header:hover .album_text_decoration {
    width: 100%;
}

.album_text {
    font-size: 4.5vmin;
}

.album_text_decoration {
    width: 0%;
    height: 10px;
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
    transition: 0.3s;
}

.album_list_container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow;
}

.album_container {
    min-width: 250px;
    flex-basis: 25%;
    background-color:chartreuse;
}

@media screen and (max-width: 800px) {
    .album_container {
        margin-left: 70px;
        margin-right: 70px;
    }
}

.album {
    display: flex;
    padding: 0%;
    background-color: red;
}
.album_img_container {
    width: 40%;
}
.album_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.album_list {
    font-size: 20px;
    width: 60%;
    margin: 0%;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    background-color: blue;
}

/* ARTIST */
.artist_header {
    width: fit-content;
    margin-top: 20px;
}
.artist_header:hover .artist_text_decoration {
    width: 100%;
}
.artist_text {
    font-size: 4.5vmin;
}
.artist_text_decoration {
    width: 0%;
    height: 10px;
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
    transition: 0.3s;
}
.artist_container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,212,255,1);
}
.artist {
    text-align: center;
    max-width: 175px;
    margin: 10px 20px;
    background-color: royalblue;
}
.artist_name {
    font-size: 3vmin;
}
.artist_img_container {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.artist_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* CATEGORY */
.category_header {
    width: fit-content;
    margin-top: 20px
}
.category_header:hover .category_text_decoration {
    width: 100%;
}
.category_text {
    font-size: 4.5vmin;
}
.category_text_decoration {
    width: 0%;
    height: 10px;
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
    transition: 0.3s;
}
.category_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: royalblue;
}
.category {
    width: 20%;
    max-width: 175px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
}
.category_name {
    font-size: 3.5vmin;
    position: absolute;
    
}
.category_img_container {
    width: 100%;
}
.category_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



/*  ========
     FOOTER 
    ======== */

.footer {
    background-color: var(--ft-primary);
    margin-top: 20px;
    padding: 1% 5%;
    display: flex;
    position: relative;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.footer_topic {
    columns: 3;
    column-gap: 10%;
    width: fit-content;
    list-style: none;
    margin-top: 1%;
    margin-left: 15%;
}
.footer_sub_topic {
    list-style: none;
}

@media screen and (max-width: 720px){
    .footer_topic {
        columns: 1;
    }
}