/*  =========
    variables 
    ========= */

:root {
    --bg-primary: #5A5A5A;
    --bg-accent: #252525;
    --hd-primary: #000000;
    --ft-primary: #727070;
    --clr-primary: #FFFFFF;
    font-size: 16px;
}

/*  =========
       BODY 
    ========= */
* {
    box-sizing: border-box;
    color: var(--clr-primary);
}

body {
    background: linear-gradient(90deg, rgba(90, 90, 90, 0.9), rgba(90, 90, 90, 0.9)), url(IMG/main_background.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*  =========
      HEADER 
    ========= */

.header {
    background-color: var(--hd-primary);
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
    z-index: 2000;
} 

/* COMPONENT */

.logo_wrapper {
    width: 5%;
    height: 5%;
    min-width: 65px;
    min-height: 65px;
    display: flex;
}
.logo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo_name {
    font-size: 1.5rem;
    padding-top: 2rem;
}
.search_bar {
    background-color: var(--bg-primary);
    border-radius: 20px 0px 0px 20px;
    color: var(--clr-primary);
    margin-left: 20%;
    width: 45%;
}
.search_button {
    background-color: var(--bg-accent);
    border-radius: 0px 20px 20px 0px;
}
.search_bar, .search_button {
    border: none;
    padding: 5px 10px 5px 10px;

}
.sign_up, .sign_in {
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
    font-size: 1.25rem;
    width: 7%;
    height: 10%;
    margin-left: 5%;
    padding: 5px 10px 5px 10px;
    border:none;
    border-radius: 20px;
    min-width: 100px;
}

@media screen and (max-width: 660px){
    .search_bar {
        visibility: hidden;
    }
    .search_button {
        border-radius: 20px;
    }
}

/*  =========
     NAV BAR 
    ========= */

.nav_bar {
    height: 100%;
    width: 0px;
    position: fixed;
    padding-top: 125px;
    background-color: var(--hd-primary);
    z-index: 3000;
    overflow-x: hidden;
    transition: 0.3s;
}
.nav_link, .nav_opn_button, .nav_cls_button {
    text-decoration: none;
}

.nav_link {
    font-size: 20px;
    padding: 10px 20px;
    display: block;
}

.nav_link:hover, .nav_opn_button:hover, .nav_cls_button:hover {
    color: var(--ft-primary);
}

.nav_opn_button {
    font-size: 25px;
    margin: 0 1% 0 1%;
}

.nav_cls_button {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 200px;
}

/*  =================
      ITEM CONTAINER 
    ================= */

.playlist_header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
}
.playlist_wrapper {
    width: 25%;
    margin-left: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: blue; */
}
.playlist_edit_icon_container {
    width: 7%;
    height: auto;
    margin: 5px 10px 0px 0px;
    float: right;
}

.playlist_img_container {
    width: 10%;
    height: auto;
    margin-left: 7%;
}
.playlist_img {
    width: 100%;
    height: auto;
}
.content_wrapper {
    padding: 0%;
    display: flex;
    justify-content: center;
    /* background- color: brown; */
}

.playlist_player {
    display: flex;
    /* background-coslor: violet; */
}
.playlist_icon_container {
    width: 8%;
    height: auto;
    margin: 5px;
}
.playlist_icon {
    width: 100%;
    height: auto;
}

.playlist_song_container {
    background-color: rgba(49, 45, 45, 0.9);
    width: 60%;
    margin: 0%;
    padding: 5%;
}
.playlist_song {
    width: fit-content;
    margin: 3%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}
.playlist_song_name, .playlist_song_artist {
    text-decoration: none;
}
.playlist_song_name {
    font-size: 3vmin;
    color: var(--clr-primary);
    /* background-color: yellowgreen; */
}
.playlist_song_name:hover {
    color: var(--bg-primary);
}
.playlist_song_artist:hover {
    color: var(--bg-primary);
}
.playlist_song_artist {
    color: var(--ft-primary);
    margin-left: 18px;
    /* background-color: violet; */
}

.content_side_container {
    width: 20%;
    height: fit-content;
    margin: 0%;
    /* background-color: yellow; */
}
.content_side_spliter {
    background-color: white;
    height: 3px;
}
.top_song_container {
    text-align: center;
    padding: 5% 15%;
    background-color: rgba(0, 0, 0, 0.5);
}
.top_song {
    margin: 5% 0%;
    display: flex;
    /* background-color: hotpink; */
}
.top_song_img_container {
    width: 30%;
    height: auto;
}
.top_song_img {
    width: 100%;
    height: auto;
}
.top_song_desc_wrapper {
    padding: 4%;
    display: flex;
    flex-direction: column;
    /* background-color: yellowgreen; */
}
.top_song_name, .top_song_artist {
    text-decoration: none;
}
.top_song_name {
    color: var(--clr-primary);
}
.top_song_name:hover {
    color: var(--bg-primary);
}
.top_song_artist {
    color: var(--bg-primary);
    margin-left: 16px;
}
.top_song_artist:hover {
    color: var(--bg-accent);
}

.top_search_container {
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: yellowgreen; */
}
.top_search_wrapper {
    display: flex;
    flex-wrap: wrap;
    /* background-color: violet; */
}
.top_search {
    border: none;
    border-radius: 20px;
    background-color: var(--bg-primary);
    padding: 5px 10px;
    margin: 1%;
}
.familiar_song_container {
    height: fit-content;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: seagreen; */
}
.familiar_song {
    display: flex;
    flex-direction: column;
}
.familiar_song_name, .familiar_song_artist {
    text-decoration: none;
    margin-left: 15%;
}
.familiar_song_name {
    color: var(--clr-primary);
    margin-top: 10px;
}
.familiar_song_name:hover {
    color: var(--bg-primary);
}
.familiar_song_artist {
    color: var(--ft-primary);
}
.familiar_song_artist:hover {
    color: var(--bg-primary);
}


/*  ========
     FOOTER 
    ======== */

.footer {
    background-color: var(--ft-primary);
    padding: 1% 5%;
    display: flex;
    position: relative;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.footer_topic {
    columns: 3;
    column-gap: 10%;
    width: fit-content;
    list-style: none;
    margin-top: 1%;
    margin-left: 15%;
}
.footer_sub_topic {
    list-style: none;
}

@media screen and (max-width: 720px){
    .footer_topic {
        columns: 1;
    }
}