:root {
    --clr-primary: #ffffff;
}
html, body {
    height: 100%;
    margin: 0;
}


body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(IMG/sign_in_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
}

* {
    color: var(--clr-primary);
}

.container {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(IMG/sign_in_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col {
    width: 1000px;
    height: 500px;
}

.webname, .sign_up_text {
    margin: 0;
}

.sign_in_form {
    text-align: right;
}

.sign_in_input {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 30%;
    width: 25%;
    border: none;
    border-radius: 5px;
}

.sign_in_button, .sign_with_fb, .sign_with_ln {
    border: none;
    border-radius: 20px;
    padding: 3px 15px;
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.sign_in_button {
    background: linear-gradient(275deg, rgba(0,212,255,1) 0%, rgba(0,0,255,1) 95%);
}
.sign_with_fb {
    background: linear-gradient(90deg, rgba(17,0,60,1) 0%, rgba(0,29,207,1) 100%);
}
.sign_with_ln {
    background: linear-gradient(90deg, rgba(1,98,27,1) 0%, rgba(0,207,51,1) 100%);
    margin-bottom: 2%;
}
.link {
    margin: 0%;
}
